 <div class="bc">
        <ul>
            <li><a href="<%= config.home %>">Home</a></li>
            <li><a href="<%= config.home %>/timesheets" class="_a">Timesheets</a></li>
        </ul>  
 </div>
<div class="t2 _at"><h2 class="ts"><span class="_blue"><%= data.date %></span> Total Time: <span class="_blue thr"><%= data.total%> Hrs.</span></h2> 
             <div class="pagi">
               <span>
                    <a class="prev disable" href="<%= config.home %>timesheets?day=<%= data.prev %>""><i class="fa fa-angle-left"></i></a>
        <% if(data.next != undefined){ %><a class="next pull-right" href="<%= config.home %>timesheets?day=<%= data.next %>"><i class="fa fa-angle-right"></i></a> <% } %>
                </span>
             </div>
</div>
<hr class="_hr"></hr>
<div class="col-12">
    <table class="table table-striped">
           <thead>
               <tr><th>Sr.No</th><th>Project</th><th>Start</th><th>End</th><th>Duration</th><th>Action</th></tr>
           </thead>
           <tbody>
                <% if(data.ts != undefined){ for(var i=0; i<data.ts.length; i++) { var atom=data.ts[i]; %>
                <tr>
                    <td><%= i %></td><td><%= atom.project %></td><td><%= atom.start %></td><td><%= atom.end %></td><td><%= atom.duration %></td><td><a href="" class="b-grey xs"><i class="fa fa-trash-o"></i> Remove</a></td>
                </tr>
                <% } }else{ %>
                <tr><td colspan="6"><center>No Record Today!</center></td></tr>
                <% } %>
            </tbody>
    </table> 
</div>